/* ============= RESPONSIVE CSS ============= */
:root {
  --col-bg: #222;
  --col-acent: #1e1e1e;
  --grad-blue: #4096ee;
  --grad-green: #39ced6;
  --font-raleway: "Raleway", Arial, Helvetica, sans-serif;
}
@media (max-width: 575px) {
  h1,
  h2 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  #header {
    background-color: rgba(250, 250, 250, 0.9) !important;
    padding: 10px 20px;
  }
  #logo {
    color: var(--col-acent);
  }
  .navbar-nav .nav-item .nav-link {
    color: var(--col-bg) !important;
  }
  .navbar-nav .nav-item .nav-link::after {
    background: var(--col-bg);
  }
  .about-content {
    padding: 0 0;
  }
  .service-list {
    height: 100%;
    padding: 50px 20px;
  }
}
@media (max-width: 991px) {
  .welcome-hello {
    font-size: 26px;
  }
  .welcome-title {
    font-size: 60px;
  }
  .welcome-section p {
    font-size: 17px;
  }
  .item h3 {
    font-size: 24px;
  }
  #liveToast {
    margin-bottom: 20px;
  }
  .contact-box {
    width: 100%;
  }
}
@media (min-width: 1600px) {
  .service-list {
    height: 100%;
    padding: 40px 20px;
  }
}
