/* ============= RESPONSIVE CSS ============= */
:root {
  --col-bg: #222;
  --col-acent: #1e1e1e;
  --grad-blue: #4096ee;
  --grad-green: #39ced6;
  --font-raleway: "Raleway", Arial, Helvetica, sans-serif;
}
@media (max-width: 576px) {
  h1,
  h2 {
    font-size: 30px;
  }
  .inner-section span {
    font-size: 18px;
  }
  .welcome-title {
    font-size: 60px;
  }
  .welcome-section p {
    font-size: 17px;
  }
}
@media (max-width: 992px) {
  #header {
    background-color: rgba(250, 250, 250, 0.9) !important;
  }
  #logo {
    color: var(--col-acent);
  }
  .navbar-nav .nav-item .nav-link {
    color: var(--col-bg) !important;
  }
  .navbar-nav .nav-item .nav-link::after {
    background: var(--col-bg);
  }
}
@media (min-width: 1600px) {
  .service-list {
    height: 100%;
    padding: 40px 20px;
  }
}
