/* ============= MAP CSS ============= 
  1. GENERAL CSS
  2. NAVGIATION CSS
  3. MAIN CSS
  4. ABOUT CSS
  5. MY SKILL CSS
  6. MY WORK CSS
  7. CONTACT CSS
*/

/* ============= GENERAL CSS ============= */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;900&display=swap");
:root {
  --col-bg: #222;
  --col-acent: #1e1e1e;
  --grad-blue: #4096ee;
  --grad-green: #39ced6;
  --font-raleway: "Raleway", Arial, Helvetica, sans-serif;
}
html {
  -ms-overflow-style: scrollbar;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-raleway);
  font-size: 16px;
  text-align: center;
  color: white;
  background: var(--col-bg);
}
/* prettier-ignore */
h1,h2,h3,h4,h5,h6 {
    line-height: 1.2;
    margin: 0 0 20px;
    font-weight: 600;
    text-transform: uppercase;
}

img {
  border: 0;
  max-width: 100%;
}
a {
  color: white;
  text-decoration: none;
}
a:hover,
a:focus {
  color: white;
  text-decoration: none !important;
}
p {
  margin: 0 0 20px;
}
h1,
h2 {
  font-size: 32px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
  margin-bottom: 10px;
}
h6 {
  font-size: 18px;
  margin-bottom: 10px;
}
.btn,
.btn:disabled {
  background: white;
  color: var(--col-bg);
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px;
  width: 100%;
  padding: 5px 30px;
  line-height: 40px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.btn:hover,
.btn:focus,
.btn:disabled {
  color: white;
  border-color: white;
  background: none;
}
.btn:focus {
  box-shadow: none;
}
.toast {
  border-radius: 10px;
  background: white;
  color: var(--col-acent);
}
video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  right: 0;
  bottom: 0;
}
#overlay::after {
  content: "";
  opacity: 0.75;
  background: -webkit-linear-gradient(top, var(--grad-blue) 0%, var(--grad-green) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, var(--grad-blue) 0%, var(--grad-green) 100%); /* W3C, IE10+, FF16+, Chrome26+ */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.inner-section {
  /* padding: 20px 30px 0;  */
  /* top left-right bottom */

  padding: 20px 30px;
}
#fullpage {
  z-index: 99;
}
#preloader {
  z-index: 9999;
  position: fixed;
  background: -webkit-linear-gradient(top, var(--grad-blue) 0%, var(--grad-green) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, var(--grad-blue) 0%, var(--grad-green) 100%); /* W3C, IE10+, FF16+, Chrome26+ */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.preloader-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ============= NAVIGATION CSS ============= */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 20px 20px;
}
#logo {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  list-style: none;
}
.navbar {
  padding: 0;
}
.nav-item {
  margin-left: 30px;
}
.nav-link {
  color: white !important;
  font-size: 15px;
  display: block;
  font-weight: 500;
  opacity: 0.9;
}
.navbar-nav .nav-item .nav-link::after {
  content: "";
  display: block;
  height: 2px;
  margin-top: 4px;
  background: white;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4 ease;
}
.navbar-nav .nav-item .nav-link:hover::after,
.navbar-nav .nav-item.active .nav-link:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.navbar-nav .nav-item .nav-link:hover {
  opacity: 1;
}
.navbar-nav .nav-item.active .nav-link {
  opacity: 1;
}
.navbar-dark .navbar-toggler {
  color: var(--col-bg) !important;
}
.nav-toggle i {
  font-size: 30px;
}

/* ============= MAIN CSS ============= */
.welcome-section {
  font-size: 20px;
  /* line-height: 2; */
}
.welcome-hello {
  text-transform: uppercase;
  font-size: 33px;
  line-height: 1.7;
  letter-spacing: 0.1rem;
  font-weight: 300;
  display: block;
}
.welcome-title {
  font-size: 120px;
  letter-spacing: 0.2rem;
}
.welcome-section p {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}
/* ============= ABOUT CSS ============= */
.about-img {
  max-height: 500px;
  width: 100%;
  object-fit: none;
  object-position: 0 50%;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.3), 10px 10px 40px rgba(0, 0, 0, 0.3);
}
.about-content {
  padding: 150px 0;
  text-align: start;
}
.about-content span {
  font-size: 24px;
  text-transform: uppercase;
}
/* ============= MY SKILL CSS ============= */
.title-block span {
  font-size: 24px;
  text-transform: uppercase;
}
.skill-worked {
  padding-bottom: 20px;
}
.skill-worked .item {
  background-color: rgba(250, 250, 250, 0.2);
  border-radius: 10px;
  padding: 10px 10px;
  height: 100%;
}
.skill-dabbled .item {
  background-color: rgba(250, 250, 250, 0.2);
  border-radius: 10px;
  padding: 10px 10px;
  height: 100%;
}
.service-icon {
  display: block;
  font-size: 40px;
}
.skill-worked .item:hover {
  background-color: white;
  color: var(--col-acent);
}
.skill-dabbled .item:hover {
  background-color: white;
  color: var(--col-acent);
}
.owl-carousel .owl-dots .owl-dot {
  border-radius: 3px;
  width: 20px;
  height: 20px;
  margin: 30px 5px 0;
  background: rgba(255, 255, 255, 0.2);
}
.owl-carousel .owl-dots .owl-dot.active {
  background: white;
}
/* ============= MY WORK CSS ============= */
.gallery-item img {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  /* height: 400px; */
}
.gallery-item .thumb-inner {
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 60px;
  -webkit-transition: all 0.4 ease;
  transition: all 0.4s ease;
}
.gallery-item .thumb-inner h4 {
  margin-top: 0;
  margin-bottom: 0;
}
.gallery-item .thumb-inner p {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  margin-bottom: 0;
}
.gallery-item:hover .thumb-inner {
  border-radius: 10px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
.gallery-item:hover .thumb-inner h4 {
  color: white;
  margin-top: 30%;
  margin-bottom: 20px;
}
.gallery-item:hover .thumb-inner p {
  opacity: 1;
  visibility: visible;
  position: relative;
  color: white;
}
/* ============= CONTACT CSS ============= */
.contact-box {
  background-color: rgba(250, 250, 250, 0.2);
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  font-weight: 700;
  display: flex;
}
.contact-box i {
  width: 50px;
  font-size: 30px;
}
.contact-box:nth-child(2):hover,
.contact-box:nth-child(3):hover {
  background-color: var(--col-acent);
  cursor: pointer;
}
.alert {
  margin: 0;
}
::placeholder {
  color: white !important;
  opacity: 1;
}
.form-control {
  background: rgba(250, 250, 250, 0.05);
  border-radius: 10px;
  padding: 5px 20px;
  margin-bottom: 30px;
  height: 50px;
  color: white;
  border: 1px solid rgba(250, 250, 250, 0.5);
}
.form-control:focus {
  background: rgba(0, 0, 0, 0.05);
  box-shadow: none;
  border: 1px solid rgba(250, 250, 250, 1);
  color: white;
}
textarea.form-control {
  height: 110px;
  padding-top: 10px;
}
#liveToast {
  margin-bottom: 20px;
  margin: auto;
}
